/* header{
    width: 100%;
    height: 80px;
    background-color: white;
}

header nav{
    position: fixed;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    width: 95%;
    max-width: 750px;
    margin: 0 auto;
    background-color: cadetblue;
    text-align: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: +5;
}

header nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
}

header a {
    display: block;
    padding: 10px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    font-size: 1.3rem;
    transition: 0.25s background;
}

.locked::after {
    content: url(../../assets/lock.png);;
}

header a:hover:not(.active) {
    background-color: rgb(70, 120, 120);
}

header li:first-child a {
    border-bottom-left-radius: 20px;
}

header li:last-child a {
    border-bottom-right-radius: 20px;
}

.active {
    background-color:  #78c8c8;
    pointer-events: none;
}

@media only screen and (min-width: 600px) {
    header a {
        font-size: 1.5rem;
    }
  } */

  header{
    padding-bottom: 2px;
    border-bottom: 1px solid black;
  }
  
  #nav-toggle-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    height: 50px;
    width: 50px;
    border: none;
    background-color: initial;
  }
  
  #nav-toggle-btn:hover .nav-menu-span,
  #nav-toggle-btn:focus .nav-menu-span{
    background-color: blueviolet;
  }
  
  #nav-div {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 80px);
    max-width: 300px;
    height: 100%;
    border-right: 2px solid #461473;
    background-color: white;
    transition: 0.5s;
    z-index: +1;
  }
  
  .nav-menu-span {
    display: block;
    height: 6px;
    width: 50px;
    margin: 8px auto;
    border-radius: 2px;
    background-color: black;
  }
  
  .nav-menu-span:first-child {
    transform-origin: 15% 0%;
    transition: transform 0.25s ease-out;
  }
  
  .nav-menu-span.open:first-child {
    transform: rotate(45deg);
  }
  
  .nav-menu-span:nth-child(2) {
    transition: transform 0.1s ease-out;
  }
  
  .nav-menu-span:nth-child(2).open {
    transform: scaleY(0);
  }
  
  .nav-menu-span:Last-child {
    transform-origin: 0% 85%;
    transition: transform 0.25s ease-out;
  }
  
  .nav-menu-span.open:Last-child {
    transform: rotate(-45deg);
  }
  
  
  
  .nav-hidden {
    transform: translateX(-100%);
  }
  
  .nav-discover-button {
    display: block;
    width: 90%;
    height: 50px;
    margin: 10px auto;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 28px;
    transition: 0.25s background;
    cursor: pointer;
  }
  
  .nav-discover-button:hover,
  .nav-discover-button:focus {
    background-color: #461473;
  }
  
  @media (min-width: 768px) {
  
    #nav-toggle-btn {
      visibility: hidden;
    }
  
    #nav-div {
      position: initial;
      width: 100%;
      max-width: none;
      height: 100%;
      border-right: none;
      z-index: initial;
    }
  
    .nav-hidden {
      transform: translateX(0);
    }
  
    .nav-ul {
      position: absolute;
      width: 100px;
      height: 100%;
      top: 15px;
      right: 120px;
      list-style: none;
    }
  
    .mobile-nav-only{
      display: none;
    }
  
    .nav-discover-button {
      width: auto;
      margin: 0;
    }
  }