.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.account-inputs {
    display: block;
    width: 80%;
    margin: 20px auto 5px;
    padding: 4px;
    border: none;
    font-size: 20px;
    color: black;
}

.account-labels {
    display: block;
    width: 80%;
    font-size: 20px;
    color: white;
    margin: 0 auto;
}

.account-page-main-div {
    width: 95%;
    max-width: 500px;
    margin: 40px auto;
}

.account-first-div {
    background-color: #D9D9D9;
    transition: 0.5s;
    height: 300px;
}

.account-second-div {
    background-color: blueviolet;
    color: white;
    transition: 0.5s;
    height: 300px;
}

.account-first-div form,
.account-second-div div {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
}

.account-submit-btn {
    display: block;
    width: 134px;
    height: 36px;
    margin: 30px auto;
    padding: 3px;
    border: none;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    transition: 0.25s background;
    cursor: pointer;
}

.account-submit-btn:hover,
.account-submit-btn:focus {
    background-color: #461473;
}

.account-a-btn {
    display: block;
    width: 134px;
    height: 36px;
    margin: 30px auto;
    border: 3px solid white;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s background;
}

.account-a-btn:hover,
.account-a-btn:focus {
    background-color: #461473;
}

.account-first-div.create {
    transform: translateY(300px);
}

.account-second-div.create {
    transform: translateY(-300px);
}

@media (min-width: 768px) {

    .account-page-main-div {
        width: 600px;
        max-width: none;
    }
}

@media (min-width: 1024px) {

    .account-page-main-div {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .account-first-div,
    .account-second-div {
        height: 400px;
    }

    .account-first-div.create {
        transform: translateX(300px) translateY(0);
    }

    .account-second-div.create {
        transform: translateX(-300px) translateY(0);
    }
}